[user]
	name = jorgeaber
    email = jorgeaber@gmail.com

[core]
	autocrlf = false
	safecrlf = true
	editor = vim

[alias]
    hist = log --graph --full-history --all --pretty=format:"%h%x09%d%x20%s"
